
<tl-subject></tl-subject>

<tl-panel>

    <tl-panel-inputs> 
        <input tl-panel-input ng-model="od.f_projname" search="loadPageData(1)">
  
    </tl-panel-inputs>
         
   
    <table tl-table theader="tableHeaders">
        <tbody> 
            <tr ng-repeat="  proj  in page.data "  ng-init=" collectRegionId( proj , $last )"  >
                <td>
                    <a class="text-info-dk  "  ui-sref=" app.m_region_attr.sys(  proj )  "  >
                        {{ proj.name }} 
                    </a>
                    <popwin ng-model="proj" ng-if=" !isShowModul" prop="name" handler=" updateRegion  " />
                </td>
                <td> {{ :: proj.create_time | date:"yyyy-MM-dd HH:mm Z" }}</td>
                <td>
                    {{  proj.activeNum || 0  }}
                </td>
                <td>
                     {{  proj.unactiveNum || 0 }}
                </td>
                <td>{{ proj.desc}}
                    <popwin ng-model="proj" prop="desc" handler=" updateRegion  " />
                </td>
                <td class="numeric">
                    <a class="text-info-dk m-r-xs" ng-disabled="true" ng-click="delProject( proj  , $index   )" translate>text.del</a>
                </td>
            </tr>
        </tbody>
    </table>
     
</tl-panel>
 
