  
 <input tl-wrap
        label="目标地址"
        ng-model="D.params.address" 
        type="number" 
        max="254"  
        min="1" 
        placeholder=" 1 - 254 "
        required   ></input>

  <input tl-wrap
        label="最大包长度"
        ng-model="D.params.max_packet_length" 
        type="number" 
        max="249"  
        min="1" 
        placeholder=" 1 - 249 "
        required   ></input>

 <input tl-wrap
        label="包偏移间隔"
        ng-model="D.params.packet_offset" 
        type="number" 
        max="20"  
        min="1" 
        placeholder=" 1 - 20 "
        required   ></input>

