 


 



<div   class="hidden"    ng-init="   _config.areaCC( point , this  , true ) "></div>

 


<!-- 数据区 -->
<select  name="area" tl-input 
	 label = "point.area"
	 ng-model = "point.params.area"
	 ng-options = " parse(v) as k  for  (v,k)  in _config.area"
	 ng-change = " _config.areaCC( point , this  ) "

	>
</select>

<!-- 偏移地址 -->
<input  name="offset" tl-input   
        label="point.offset"
        required  
        type="Number" 
        max="65535"
        min="0" 
        ng-model= "point.params.offset"    ></input>


<div ng-if="point.params.area != 6  && point.params.area != 8 ">

 
<!-- 数据类型 -->
	<select  name="datatype" tl-input 
		 label = "point.type "
		 ng-model= "point.params.type" 
		 ng-options = " parse(v) as k  for  (v,k)  in _dataType"
		 ng-change = "_config.typeCC( point )"
		>
	</select> 
</div>


<div ng-if = " point.params.type ==9 ">

<!-- 字符串长度 -->
    <input  name="type_es" tl-input   
        label="point.strLong"
        required  
        type="Number" 
        max="127"
        min="1" 
        ng-model= "point.params.type_ex"    ></input>
 
</div>


<div ng-if = " point.params.type== 0 ">

<!-- 位偏移 -->
	<input  name="type_ex" tl-input   
        label="point.byteOffset"
        required  
        type="Number" 
        max="65535"
        min="0" 
        ng-model= "point.params.type_ex"    ></input>   
</div>

     
 