<!-- 
设备厂商：  诚意电气
驱动ID：    PI_SHCYA
驱动描述：   CSD-1跌落式熔断器
 
-->
 
 
<input  name="address"  tl-input  
        label="devModel.app_address"
        required  
        type="Number" 
        max="65535"
        min="0" 
        ng-model= "point.params.app_address"    ></input>


<select  name="type_id"  tl-input 
	 label = "devModel.type_id"
	 ng-model = "point.params.type_id"
	 ng-options = "  parse(v) as k  for  (v,k)  in _config.type_id" 
	>
</select>


<input name="s_address"  tl-input   
        label="devModel.infor_address"
        required  
        type="Number" 
        max="65535"
        min="0" 
        ng-model= "point.params.infor_address"    ></input>