


<tl-subject></tl-subject>

<tl-panel>
    <tl-panel-inputs>
        <input tl-panel-input label="text.name" ng-model="od.name" col=" col-lg-2-4 col-sm-6 "></input>
        <input tl-panel-input label="ID" ng-model="od.uuid" col=" col-lg-2-4 col-sm-6 "></input>
        
        <select tl-panel-input label="nav.model" ng-model="od.model" col=" col-lg-2-4 col-sm-6 " ng-options=" o.uuid as o.name for  o in  sysModels ">
            <option value="" translate>text.all</option>
        </select>
       
    </tl-panel-inputs>
	
	<button class="btn btn-info btn-sm m-l-md m-b" ng-click=" loadPageData(1)"  translate="text.search">搜索</button>
    <button class="btn btn-info btn-sm m-l-md m-b" ng-click=" reSet() " translate="text.reset" > 复位</button>


    <div class="radio  pull-right m-r">
        <label class="i-checks">
            <input type="radio" value="map"  ng-model=" op.lm "> <i></i> 
            <span    translate="text.map">地图</span>
        </label>
    </div>

    <div class="radio   pull-right m-r m-t ">
        <label class="i-checks">
            <input type="radio" value="list" ng-model="op.lm"> <i></i> 
              <span    translate="text.list"> 列表</span>
        </label>
    </div> 

</tl-panel>





