<div class="bg-light lter b-b wrapper-md ng-scope">
    <h2 class="m-n font-thin h4">设备模型</h2>
</div>
<div class="wrapper-md  ">
    <div class="input-group col-sm-4 m-b-xs  ">
        <input class="form-control  " type="text" ng-model="op.f_n">
        <span class="input-group-btn">
            <button class="btn btn-default  " type="button" translate >text.search</button>
        </span>
    </div>
    <div class=" panel-body  no-padder   " id="temp_context" load-mask>
        <div ng-repeat='dm in deviceModels | filter:{ name:op.f_n} ' class="panel panel-default m-b-xs">
            <div class="panel-heading">
                <a ng-click=' loadPoints ( this , $event,  $index , dm  ) ; showp = !showp '>
                    <i ng-class="{'fa':true ,'fa-angle-down': showp, 'fa-angle-right': !showp}"></i> {{dm.name }}
                </a>
                <ul class="nav nav-pills pull-right">
                    <li>
                        <a ng-click='add_edit_t( this, dm )' class='text-info' translate='text.edit'> </a>
                    </li>
                    <li>
                        <a ng-click=' delTemp(   $index , dm )' class='text-info' translate="text.del"> </a>
                    </li>
                </ul>
            </div>
            <div ng-show="showp " class="panel-body no-border table-responsive no-padder" load-mask >


                <table class="table table-hover table-striped b-b " ng-init="_$config =   $sys[dm.driver_id]    ">
                    <!-- _$config  和 翻译关系 不大 -->
                    <thead>
                        <tr>
                            <td translate="text.name">名称</td>
                            <td translate="devModel.poll">轮训</td>
                            <td translate="devModel.packet"> 分包</td>
                            
                            <td ng-repeat=" th in  _$config.pointTh "
                                translate="{{:: dm.driver_id +'.'+ th}}"> </td>

                            <td translate="text.edit" width="1%"> 编辑 </td>
                            <td translate="text.del" width="1%"> 删除 </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat=' p in points ' ng-init="  pa =  fromJson(p.params); ">
                            <td> {{ p.name }} </td>
                            <td> {{ $sys.point.poll[ p.poll ] }}</td>
                            <td translate> {{ 'yesno.' + p.is_packet }} </td>
                            <!-- <td  translate> {{ 'pointTrans.access.'+ pa.access }}  </td> -->
                            <td ng-repeat=" th in  _$config.pointTh " translate>
                                <!--   {{   dm.driver_id + "  "+  [th][pa[th]].k || pa[th]   }} -->
                                <!--   type_ex , offset 不用翻译;    ?  之后可以在 _protocol 中 写 各个  point  table 的 html 文件;
                                  -->
                                {{ _$config.noTransTh[th] ? pa[th] : ( th =='access'? 'pointTrans.access.'+pa[th] : dm.driver_id + ".point." + th +"."+ pa[ th ] ) }}
                            </td>
                            <td>
                                <a ng-click='addOrEditPoint( this ,p , $index  ,t  )' class='text-info' translate="text.edit">编辑</a>&nbsp;
                                <a ng-click='add_f(p)' class='text-info' ng-if="false">   克隆</a>&nbsp;
                            </td>
                            <td>
                                <a ng-click='delPoint ( this ,$index , p  , dm.uuid  )' class='text-info' translate="text.del">删除</a>
                            </td>
                        </tr>
                    </tbody>
                </table>



                <div class='col-xs-12 m-t-sm m-b-sm  '>
                    <button class='btn btn-sm w-70 m-l-sm w-xxm j_addp' 
                    ng-click='addOrEditPoint( this )' translate="point.add">添加点 </button>
                </div>
            </div>
        </div>
        <button class='btn btn-sm w-94 btn-primary m-t-sm m-b-sm' ng-click='add_edit_t( this  )' 
            translate="devModel.add">
            添加设备模型
        </button>
    </div>
</div>
