<div class="bg-light lter b-b wrapper-md ng-scope">
    <h2 class="m-n font-thin h4">设备模型</h2>
</div>
<div class="wrapper-md  ">
    <div class="input-group col-sm-4 m-b-xs  ">
        <input class="form-control  " type="text" ng-model="op.f_n">
        <span class="input-group-btn">
            <button class="btn btn-default  " type="button" translate >text.search</button>
        </span>
    </div>
    <div class=" panel-body  no-padder   " id="temp_context" load-mask>
 

        <div ng-repeat='dm in deviceModels | filter:{ name:op.f_n} ' class="panel panel-default m-b-xs">
            <div class="panel-heading">
                <a ng-click=' loadPoints ( this , $event,  $index , dm  ) ; showp = !showp '>
                    <i ng-class="{'fa':true ,'fa-angle-down': showp, 'fa-angle-right': !showp}"></i> {{dm.name }}
                </a>
                <ul class="nav nav-pills pull-right">
                    <li><a ng-click='add_edit_t( this, dm )' class='text-info'  translate='text.edit' > </a></li>
                    <li><a ng-click=' delTemp(   $index , dm )' class='text-info' translate="text.del"> </a></li>
                </ul>
            </div>
            <div ng-show="showp " class="panel-body no-border table-responsive no-padder" load-mask>
                <table class="table table-hover table-striped b-b " ng-init="_$config =  $sys.point[dm.driver_id] ;  _$point = $sys.point ;">
                    <thead>
                        <tr>
                            <td translate="text.name">名称</td>
                            <td translate="params.poll"></td>
                            <td translate="params.is_packet"></td>
                            <td ng-repeat=" th in  _$config.th " translate="params.{{th}}"> </td>
                            <td translate="text.edit"> 编辑 </td>
                            <td translate="text.del"> 删除 </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat=' p in points ' ng-init="  pa =  fromJson(p.params); ">
                            <td> {{ p.name }}</td>
                            <td> {{ _$point.pointPoll[ p.poll ].k }}</td>
                            <td> {{ _$point.packet[p.is_packet].k }} </td>
                            <td ng-repeat=" th in  _$config.th ">
                                {{ _$config[th][pa[th]].k || pa[th] }}
                            </td>
                            <td>
                                <a ng-click='addOrEditPoint( this ,p , $index  ,t  )' class='text-info'  translate="text.edit" >编辑</a>&nbsp;
                                <a ng-click='add_f(p)' class='text-info' ng-if="false">   克隆</a>&nbsp;
                            </td>
                            <td>
                                <a ng-click='delPoint ( this ,$index , p  , dm.uuid  )' class='text-info' translate="text.del">删除</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class='col-xs-12 m-t-sm m-b-sm  '>
                    <button class='btn btn-sm w-70 m-l-sm w-xxm j_addp' ng-click='addOrEditPoint( this )' translate="devModel.addPoint">添加点 </button>
                </div>
            </div>
        </div>
        <button class='btn btn-sm w-94 btn-primary m-t-sm m-b-sm' ng-click='add_edit_t( this  )' translate="devModel.addDevModel">
            添加设备模型
        </button>
    </div>
</div>






<hr/>

 lang = {{$$lang}}



<div translate="point.pointPoll.0"></div>
<div translate="point.array.2"></div>


values: {
                "1分钟": 60,
                "5分钟": 300,
                "10分钟": 600,
                "15分钟": 900,
                "30分钟": 1800,
                "60分钟": 3600
            }
<div  ng-init='  x1 =1   ; p ={ 60:"60-", 300:"300-", 600:"600-", 900:"900-", 1800:"1800-", 3600:"3600-" }'></div>
<br/>

   <input    ng-model='x1' type="number"  ></input>

   <div  ng-init=" xo =  'ppp'+x1 "> {{xo}}</div>
x1 = {{x1}}

p= {{p}}

<br/>

<div ng-init="  x2=0 "></div>

<select  ng-model='x1'  ng-options='  v  as k for (v,k) in p    '  ></select>


x2 = {{x2}}    

<br/>  parseInt  {{  parseInt("22.2") }}
<br/>
 x2 type =  {{ getType('x2') }}
