
<!--  modbus 类型 template 点 的  驱动参数 
 
<!-- 驱动参数 -->

<input  name="offset" tl-input
        label="FCS_MODBUS.offset"
        required  
        type="Number" 
        max="65535"
        min="0" 
        ng-model= "point.params.offset"    /> 


<!--  类型变化后 出事 话  data_type_ex 的值; 
 point.params.data_type_ex = undefined
 ng-model="point.params.data_type"
-->

<!--   point.params.area == 0 || point.params.area == 1 ?  [{k:'Bool',v:0}]  :  -->
 

  <select  name="datatype" tl-input
        label="FCS_MODBUS.type"
         
        ng-model="point.params.type"

        ng-change ="  _config.typeCC( point  , this ) "
        
        ng-options=" parse(v) as k  for  (v,k) in   _dataType "
        >
       <!--  <option value="">--请选择数据类型--</option> -->
  </select>
 

  <!--  类型 扩展  字段 ;   -->

        <!-- 布尔（text） -->
        <div  ng-if="  point.params.area  >1  && point.params.type == 0    ">
              <input  name="byteoff" tl-input
                      required
                      label="devModel.byteOffset"
                      type="number"
                      max="15" min="0" 
                      placeholder=" 0 - 15 "
                      tl-default="0"
                      ng-model="point.params.type_ex"
              />
          </div>


        <!-- 有/无 符号字节(droplist) -->
        <div  ng-if="  point.params.area  >1 && (point.params.type == 1 || point.params.type == 2)  ">
            <select name="charoff" tl-input
                     
                    label="devModel.charOffset" 
                    ng-model="point.params.type_ex"
                    ng-options=" parse(v) as k  for  (v,k) in  _config.hlbyte "
                    >
            </select>
        </div>

        <!-- \0结束ASCII字符串 -->
        <div  ng-if="  point.params.area  >1  &&    point.params.type >= 12  ">
            <input  name="charlang" tl-input
                    required
                    label="devModel.charLong" 
                    type="number"
                    max="128"
                    min="1" 
                    placeholder="1 - 128 "
                    ng-model="point.params.type_ex"
                /> 
        </div>


        <!--  BCD数据扩展  -->

        <div  ng-if = " point.params.area >1 && point.params.type == 8  ">
              <input name="bcdlang" tl-input
                    required
                    label="devModel.BCDlong"
                    type="number"
                    max="63"
                    min="1" 
                    placeholder="1 - 63 "
                    ng-model="point.params.type_ex"
                >
        </div>



 <!-- 固定长度ASCII字符串  :  需求:删除ascII 码 ;-->
   <!--     
        <div  ng-if=" point.params.Type ==12   ">
            <input  tl-wrap
                    required
                    label="固定ASCII字符长度" 
                    type="number"  max="128" min="1"  placeholder="1 - 128"
                    ng-model="point.params.TypeEx"
                    >
            </input>
        </div>
 -->
 

<!--ng-model = "point.readwrite"-->

 
  <select name="access" tl-input
        label="devModel.access"
         
        ng-model = "point.params.access" 
        ng-options="  parse(v) as k  for  (v,k) in  _accessType "

        > 
</select>
  
