<!-- 
设备厂商：   
驱动ID：    PX_PG
驱动描述：   
 
-->

  
<!--  areaCC 中 定义了  _dataType 对象; _accessType 对象;   -->
 
<div   class="hidden"    ng-init="   _config.areaCC( point , this  , true ) "></div>


<!-- 数据区域 -->
<select  name ='area' tl-input
        label="point.area"
       
        ng-model="point.params.area" 

        ng-change ="   _config.areaCC( point , this ) "
        ng-options="  parse(v) as k  for  (v,k) in  _config.area  "
           
        ></select>

   


 
<!-- 偏移地址 -->
<div  ng-if=" point.params.area  <= 1 " >
	 <input name ='offset'  tl-input   
        label="point.offset"

        required  
        type="Number"  
        max="377"
        min="0" 
        pattern="^[0-7]*$" 
        ng-model= "point.params.offset"    /> 
</div>
 


<!-- 偏移地址 -->
<div ng-if="  point.params.area==4 || point.params.area==5 || point.params.area==8 || point.params.area==9 ">
   <input  name ='offset'  tl-input   
        label="point.offset"
        required  
        type="Number"  
        max="255"
        min="0"  
        ng-model= "point.params.offset"    />  
</div>



<!-- 偏移地址 -->

<div    ng-if=" point.params.area == 2 ">
    <input  name ='offset' tl-input   
        label="point.offset"
        required  
        type="Number"  
        max="3071"
        min="0"  
        ng-model= "point.params.offset"    />  
</div>



<!-- 偏移地址 -->
<div ng-if=" point.params.area == 3 ">
    <input  name ='offset'   tl-input   
        label="point.offset"
        required  
        type="Number"  
        max="999"
        min="0"  
        ng-model= "point.params.offset"    />  
</div>



<!-- 偏移地址 -->
<div ng-if=" point.params.area == 6 ">
    <input  name ='offset'  tl-input   
        label="point.offset"
        required  
        type="Number"  
        max="8999"
        min="0"  
        ng-model= "point.params.offset"    />  
</div>


<!-- 偏移地址 -->
<div ng-if=" point.params.area == 7 ">
    <input  name ='offset'  tl-input   
        label="point.offset"
        required  
        type="Number"  
        max="8255"
        min="8000"  
        ng-model= "point.params.offset"    />  
</div>
 
  
<!-- 数据类型 -->
<select name ='datatype'  tl-input
        label="point.type"
         
        ng-model="point.params.type"

        ng-change ="  _config.typeCC( point  , this ) "
        
        ng-options=" parse(v) as k for (v,k)  in   _dataType "
        > 
</select>
 
 

<!-- 位偏移 -->
<div ng-if="  point.params.area == 6 || point.params.area == 8  || point.params.area == 9 ">

	<div  ng-if=" point.params.type == 0    ">
      <input  name ='w_offset'   tl-input
              required
              label="point.byteOffset"
              type="number"
              max="15" min="0" 
              placeholder=" 0 - 15 "
              tl-default="0"
              ng-model="point.params.type_ex"
      />
  	</div>


	<div  ng-if=" point.params.type == 11   ">

      <!-- 字符串长度 -->
      <input  name ='type_ex'  tl-input
              required
              label="point.strLong"
              type="number"
              max="31" min="1" 
              placeholder=" 1 - 31 "
              tl-default="0"
              ng-model="point.params.type_ex"
     	/>
  	</div>

  	<div ng-if=" point.params.type  == 1 ||  point.params.type  == 2   " >

      <!-- 高低字节 -->
  		 <select name ='type_ex' tl-input
                     
                    label="point.hlByte" 
                    ng-model="point.params.type_ex"
                    ng-options=" parse(v) as k for (v,k)  in  _config.hlbyte "
             >
        </select>
  	</div>


</div>

<!--  访问方式 -->
<select name ='access' tl-input
        label="point.access"
         
        ng-model = "point.params.access" 
        ng-options=" parse(v) as k for (v,k) in  _accessType "

        > 
</select>
  
