<!-- navbar -->
<!--jjw style       -->
<div data-ng-include=" 'app/main/header.html' " class="app-header navbar"> </div>
<!-- / navbar -->
<!-- menu -->
<div class="app-aside hidden-xs {{app.settings.asideColor}}"   >
    <div class="aside-wrap">
        <div class=" navi-wrap ">
            <!-- nav -->
            <nav ui-nav class="navi" ng-include="'app/main/nav.html'"></nav>
            <!-- nav -->
        </div>
    </div>
</div>
  

  

 <div class="app-content"     >

    <div ui-butterbar></div>  
 
<!--  
 overflow: scroll;
      position: fixed; left: 0px; bottom: 0px; top: 50px; right: 0px; 

style=" height: 100%;     position: relative; overflow: scroll; "  -->
    
    <div class="app-content-body  bg-normal"  ui-view ></div>
     
 
</div>  
   
 
 


<div class="app-footer wrapper b-t text-xs bg-normal"   ng-if="false" style="border: solid 2px red;">
    <span class="pull-right">

          <!--     <div class="btn-group dropdown dropup">

                <button class="btn btn-default btn-sm dropdown-toggle"
                    aria-haspopup="true"
                    aria-expanded="false">
                    <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="">Action</a></li>
        <li><a href="">Another action</a></li>
        <li><a href="">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="">Separated link</a></li>
    </ul>
</div>
-->
<a class=" m-r-xs" href="//www.thinglinx.net" target="_blank">联系我们</a>
<!--
      |
      <a class=" m-r-xs" ui-sref="app.tech">技术支持</a>|
      <a class=" m-r-xs" ng-click=" u()"> 使用条款 </a>|
      <a class=" m-r-xs" ng-click="feedback()">问题反馈</a>|
      <a class=" m-r-xs" ng-href="http://www.gravatar.com/avatar" target="_blank">帮助</a>
       -->
<a href="javascript:scroll(0,0)" ui-scroll="header" class="m-l-sm  m-r-sm ">
    <i class="fa fa-long-arrow-up"></i>
    <!--  返回顶部 -->
</a>
</span>
<!--jjw span-->
<span class="p-l">京ICP备14040729号-3</span>
<!-- 联系我们”、“*技术支持（社区）”、“*帮助”、
    “问题反馈”和“使用条款”等链接
    <i class="fa fa-fw fa-twitter"></i>
     <button class="btn btn-rounded btn-sm btn-info">联系我们 </button>
    -->
</div>
<!--@if append  -->
<div data-ng-include=" 'app/main/settings.html' " class="settings panel panel-default"></div>
<!--@endif  -->
