<!--
设备厂商：
驱动ID：
驱动描述：

 -->

<!--  PLC型号   -->


<div  class="hide"  ng-init=" _config = extend( {} ,  $sys.PLC_MITSUBISHI_FX_COM.device ,
                                                      $$lang.PLC_MITSUBISHI_FX_COM.device ) "  > </div>



<input tl-input  name="address"  label="PLC_MITSUBISHI_FX_COM.address" 
        ng-model="D.params.address"
        type="Number"  max="255" min="0" 
        required 
        />

<select tl-input  name="type"
        label="PLC_MITSUBISHI_FX_COM.dev_type"
        ng-model="D.params.type"

        ng-options = " parse(k) as v for  (k,v) in   _config.type "

        required   ></select>

<!--  传输控制步骤   -->
<select tl-input name="format"
        label="PLC_MITSUBISHI_FX_COM.format"
        ng-model="D.params.format"

        ng-options = " parse(k) as v for  (k,v) in  _config.format  "

        required   ></select>


<!--  和校验   -->
<select tl-input name="sum"
        label="PLC_MITSUBISHI_FX_COM.sum"
        ng-model="D.params.sum"

        ng-options = " parse(k) as v for  (k,v)  in _config.sum "

        required   ></select>





