<!-- 采集占 属性  配置  设备配置 用到1 -->

<div class=" form-group m-b-xxs ">
    <label class="col-sm-5 control-label">Modbus总线从设备* </label>

    <div class="col-sm-7">
        <input class="form-control height-30" ng-model="dev.type">
    </div>
</div>

<div class=" form-group m-b-xxs ">
    <label class="col-sm-5 control-label">Modbus总线IP </label>

    <div class="col-sm-7">
        <input class="form-control height-30" ng-model="dev.type">
    </div>
</div>

<div class=" form-group m-b-xxs ">
    <label class="col-sm-5 control-label">Modbus总线端口 </label>

    <div class="col-sm-7">
        <input class="form-control height-30" ng-model="dev.type">
    </div>
</div>
