

system = {{system }}


<div class="   panel-body  no-padder  ">
    
 

<!-- profile  ticket -->
<div class="col-md-8 col-xs-12  col-md-offset-1     m-b-sm m-t padder-md">

     <h4 class="">网络参数</h4>

    <form name=" profile" class="form-horizontal form-validation ">
        <!--  profile  配置  -->
        <select tl-input label="sysModel.profile" name="profile" 
            ng-model="profile" class=" form-control" 
            ng-options="   p as p.name for p in profiles  " 
            ng-change="toUpdate('profile')" required>
        </select>
        <div class="col-md-8 col-md-offset-3">
            <i class="fa  fa-warning  text-success pos-rlt"></i> {{profile.desc}}
        </div>
        <div class="col-md-8 col-md-offset-3 m-t-xs m-b">
            <button class=" btn btn-sm  w-94 btn-success " ng-click="  updateSystem( 'profile' );  ">
                保存系统配置
            </button>
            <span class="text-danger"> 
                   <i class="fa  fa-exclamation-triangle  "></i>
                    编辑完成后请保存系统配置 
                  <span>

                  <span class="text-info">
                    <i class="fa  fa-thumbs-o-up "></i> <span>保存成功!</span>
            </span>
        </div>
        <!--  profile  配置 end  --> 
        <div ng-if="needTicket" ng-include=" 'app/system_m/system_attr_config_ticket.html' " />
        
    </form>
</div>


  

    <!--  DaServer -->
    <div  ng-if="needDaServer"  class="col-md-8 col-md-offset-1  col-xs-12" ng-include="  'app/system_m/system_attr_config_network.html' "  > </div>

 

    <!--   托管  daserver  模式   sysmodel.mode ==1 &&  sysmodel.comm_type == 1  -->
    <!--  <ng-include ng-if=" !nT " src="  'athena/dastation/_prop_daserver_network.html'  "></ng-include> -->
    



    <!--

          <div class="line b-b " ng-if=" sysmodel.comm_type == 1   "></div>

          -->
    <!--  <div class="panel-body table-responsive no-padder">
          托管模式: ==>  daserver 类型;
         -->

         
    <ng-include ng-if=" sysmodel.mode ==1 && sysmodel.comm_type ==2   " 
                src=" 'athena/dastation/_prop_gateway_gateway.html'  "></ng-include>
   

    <ng-include ng-if=" sysmodel.devices.length && sysmodel.mode ==1 && sysmodel.comm_type ==2 "
             src="  'athena/dastation/_prop_gateway_device.html'  "></ng-include>

    <div class="line b-b" ng-if="!nT"></div>
    




    <div ng-if=" sysmodel.mode ==1 ">
        <div class="col-md-8 col-xs-12 text-left padder-md">
            <div class="col-md-3  col-xs-6   text-left m-t-sm m-b-sm color-4">
                <span>上次配置更新</span>
            </div>
            <div class="col-md-9 col-xs-6 m-t-sm m-b-sm ">
                {{ station.last_modify_time| date:"yyyy-MM-dd HH:mm" }}
            </div>
        </div>
        <div class="col-md-8 col-xs-12 text-left padder-md">
            <div class="col-md-3  col-xs-6 text-left m-t-xs m-t-sm m-b-sm color-4">
                上次同步
            </div>
            <div class="col-md-9 col-xs-6 m-t-xs m-t-sm m-b-sm ">
                <span class=" ">  {{station.last_sync_time | date:"yyyy-MM-dd HH:mm" }} </span>
            </div>
        </div>
        <div class="col-md-8 col-xs-12 text-left m-b padder-md">
            <div class="col-xs-6 m-t-sm col-md-6 m-t-sm m-b-sm ">
                <button class=" btn btn-sm btn-info " ng-click=" syncSystem( station , $event , this )" token spinner>同步配置</button>
                <span class="text-info" ng-show="_show_sync_ok"> 同步成功</span>
                <span class="text-danger" ng-show="_show_sync_error"> 同步失败</span>
                <!--   <i class="fa fa-spin fa-spinner text-info" style="display:none"></i>
 -->
            </div>
            <!--jjw md-9 xs-6  启动停止功能 不需要了, 只是为了测试   -->
            <!--
                    <div class=" col-xs-6    m-t-xs col-md-9 m-t-sm m-b-sm ">

                    <button class="btn btn-sm w-46 btn-success" ng-click="startSystem(  station )"> 启动 </button>

                    <button class="btn btn-sm w-46 btn-danger" ng-click="d_stop()"> 停止 </button>
                    </div>
                -->
        </div>
    </div>
</div>
