  

<div ng-if=" daserver.type =='DTU' " class="wrap-text-l padder">
    <select tl-wrap-l label="DTU驱动" required ng-disabled="  cmway_port  " ng-model="daserver.params.driverid" ng-change=" applyDtuData(daserver.params ) ;
      " ng-options=" o.driver_id as o.name  for o  in dtuList ">
        <option value="">--请选择DTU驱动--</option>
    </select>
    <!--     根据  dtu id 加载相应的配置界面; 
          <input  tl-wrap-l label="终端iD" required ng-model="network[type].simid"    > 
          readonly
        -->
    <div ng-if="daserver.params.driverid" ng-include="  'athena/_dtu/' +daserver.params.driverid + '.html' ">
    </div>
    <input readonly tl-wrap-l label="中心域名" ng-model="cmway_port.inet_ipv4">
    <input readonly tl-wrap-l label="端口" ng-model="cmway_port.inet_port">
    
    <div class="text-muted col-md-9 col-md-offset-3 padding-0">
        <i class="fa  fa-warning   text-warning pos-rlt"></i> DSC地址和端口需要设置到指定的DTU设备中
    </div>
</div>


<!-- 手机-->
<div ng-if="daserver.type =='TcpClient' ">
    <input tl-wrap-l label="SIM卡手机" required ng-model="a" type="number">
    <input tl-wrap-l label="APN" required ng-model="a" type="number">
    <input tl-wrap-l label="APN用户名" ng-model="a">
    <input tl-wrap-l label="APN密码" ng-model="a">
</div>
<!-- dtu -->
<!--vpn-->
<div ng-if="daserver.type =='TcpServer' ">
    <div class=" col-sm-12    m-t-xs  m-b-sm   text-left" style="padding-left: 0px">
        <div class="checkbox">
            <label class="i-checks">
                <input type="checkbox" ng-checked="true" ng-model="isvpn"><i></i> 是否使用VPN
            </label>
        </div>
    </div>
    <div ng-if="true">
        <input tl-wrap-l label="VPN服务器" ng-model="a" required type="number">
        <input tl-wrap-l label="用户名" ng-model="a" required>
        <input tl-wrap-l label="密码" ng-model="a" required type="password">
    </div>
</div>
