<div class="   panel-body  no-padder  ">


    <!-- profile  ticket -->
    <div class="col-md-8 col-xs-12  col-md-offset-1     m-b-sm m-t padder-md">
        <h4 class="" translate="text.netParams">网络参数</h4>
 

        <form name=" profile" class="form-horizontal form-validation ">
            <!--  profile  配置  -->
            <select tl-input label="profile.sysProfile" name="profile" 
                ng-model="profile" class=" form-control" 
                ng-options="   p as p.name for p in profiles  " 
                ng-change="toUpdate('profile')" required >
            </select>
            <div class="col-md-8 col-md-offset-3">
                <i class="fa  fa-warning  text-success pos-rlt"></i> {{profile.desc}}
            </div>
            <div class="col-md-8 col-md-offset-3 m-t-xs m-b">
                <button class=" btn btn-sm  w-94 btn-success " 
                    ng-click="  setProfile();  " translate="system.saveConf">
                    保存系统配置
                </button>
                <span class="text-danger"> 
                    <i class="fa  fa-exclamation-triangle "  ></i>
                    <span translate="system.needSaveConf">编辑完成后请保存系统配置</span> 
                </span>
                <span class="text-info">
                    <i class="fa  fa-thumbs-o-up "></i> 
                    <span translate="text.saved">保存成功!</span>
                </span>
            </div>
            <!--  profile  配置 end  -->
            <div ng-if="needTicket" ng-include=" 'app/system_m/system_attr_config_ticket.html' " />

 
            <!--  PLC 编程模式 -->
            <label class="col-md-3   control-label  text-right " translate="system.plcMode">PLC编程模式</label>
            <div class="col-md-8">
                <label class="i-switch i-switch-md bg-info m-t-xs m-r">
                    <input type="checkbox" checked="" ng-disabled=" !op.enAblePlcProg " ng-model="op.plcstate" ng-change="setPLC( op.plcstate )">
                    <i></i> &nbsp;
                </label>
                <span class="text-muted " ng-show=" ! op.enAblePlcProg " translate="system.noSuportPlc">
                                  当前网络参数设置不支持PLC编程模式
                              </span>
                <div class="text-info" ng-if=" op.enAblePlcProg  ">
                    <span ng-show="op.plcstate" translate="system.plcOpen">  当前系统处于编程模式, 您可以使用工具向PLC同步工程, 如您想恢复采集, 请关闭编程模式;  </span>
                    <span ng-show="!op.plcstate" translate="system.plcClose"> 当前处于采集模式, 如您希望向PLC同步工程 , 请切换到编程模式 </span>
                </div>
            </div>



        </form>
    </div>



    <!--  DaServer -->
    <div ng-if="needDaServer" class="col-md-8 col-md-offset-1  col-xs-12 m-b"
         ng-include="  'app/system_m/system_attr_config_daserver.html' "> </div>
   
 

    <ng-include ng-if="  needGateWay  " 
        src=" 'athena/dastation/_prop_gateway_gateway.html'  "></ng-include>

    <ng-include ng-if=" needDevice " 
        src="  'athena/dastation/_prop_gateway_device.html'  "></ng-include>
   


    <div ng-if=" false && systemModel.mode ==1 ">
        <div class="col-md-8 col-xs-12 text-left padder-md">
            <div class="col-md-3  col-xs-6   text-left m-t-sm m-b-sm color-4">
                <span>上次配置更新</span>
            </div>
            <div class="col-md-9 col-xs-6 m-t-sm m-b-sm ">
                {{ station.last_modify_time| date:"yyyy-MM-dd HH:mm" }}
            </div>
        </div>
        <div class="col-md-8 col-xs-12 text-left padder-md">
            <div class="col-md-3  col-xs-6 text-left m-t-xs m-t-sm m-b-sm color-4">
                上次同步
            </div>
            <div class="col-md-9 col-xs-6 m-t-xs m-t-sm m-b-sm ">
                <span class=" ">  {{station.last_sync_time | date:"yyyy-MM-dd HH:mm" }} </span>
            </div>
        </div>
        <div class="col-md-8 col-xs-12 text-left m-b padder-md">
            <div class="col-xs-6 m-t-sm col-md-6 m-t-sm m-b-sm ">
                <button class=" btn btn-sm btn-info " ng-click=" syncSystem( station , $event , this )" token spinner>同步配置</button>
                <span class="text-info" ng-show="_show_sync_ok"> 同步成功</span>
                <span class="text-danger" ng-show="_show_sync_error"> 同步失败</span>
                <!--   <i class="fa fa-spin fa-spinner text-info" style="display:none"></i>
 -->
            </div>
            <!--jjw md-9 xs-6  启动停止功能 不需要了, 只是为了测试   -->
            <!--
                    <div class=" col-xs-6    m-t-xs col-md-9 m-t-sm m-b-sm ">

                    <button class="btn btn-sm w-46 btn-success" ng-click="startSystem(  station )"> 启动 </button>

                    <button class="btn btn-sm w-46 btn-danger" ng-click="d_stop()"> 停止 </button>
                    </div>
                -->
        </div>
    </div>
</div>
