<div class="w-md">
    <h5 class="text-left text-muted"  translate="system.location">定位 </h5> 
    <div class="hbox">
        <div class="col w-50" translate="system.long">经度</div>
        <div class="col text-muted " > {{locationMsg.lng}}</div>
    </div>
    <div class="hbox ">
        <div class="col w-50" translate="system.lat">纬度</div>
        <div class="col text-muted " >{{locationMsg.lat}} </div>
    </div>
    <div class="hbox ">
        <div class="col w-50" translate="text.address">地址</div>
        <div class="col text-muted " style="height:50px;" >{{locationMsg.address}}</div>
    </div>
    <div class="text-center">
        <button class="btn  btn-sm btn-info "  ng-click="locatedSation()" 
            ng-disabled="  !op.toNewLocation "  translate="system.doLocation" >确定位置</button>
        
        <button class="btn  btn-sm btn-info "  ng-click="letMarkerMove()" 
             translate="system.moveLocation" >移动</button>
<!-- 
        <button class="btn  btn-sm btn-danger"  ng-click="delMarker()"  
            ng-if="station.longitude !== undefined " >移除</button> -->
    </div>
</div>
