<div class="panel-body">

 

    <div class="col-md-6 col-xs-12  ">
        <div class="list-group   ">
            <span class="list-group-item no-border ">
                <span translate="system.id"> 系统Id </span> 
                <span class="pull-right ">{{ :: system.uuid  }}</span>
            </span>
            <span class="list-group-item no-border ">
                <span translate="system.region"> 所属区域 </span> 

                <span class="pull-right">
                    <a class="text-info"  ui-sref="app.m_region_attr.sys({id: system.region_id })"  >
                        {{ system.region_name  }}
                    </a> 
                </span>
            </span>
            <span class="list-group-item no-border ">
                 
                <span translate="system.state">活跃状态</span>
                <span class="pull-right ">{{  $$lang.system.stateOptions[ system.state ] }} </span>
            </span>
            <span class="list-group-item no-border "> 
                <span translate="system.modelUsed">使用的模型</span>
                <span class="pull-right "> 
                    <a  ui-sref ="app.sysmodelattr.info( sysModel )" 
                        class=" text-info-dk  "> {{ sysModel.name}}</a> 
                </span>
            </span>
            <span class="list-group-item no-border ">
                   
                 <span translate="sysModel.commType">通讯类型</span>
                <span class="pull-right ">{{ sysModel.comm_type == 1 ? 'DaServer':'GateWay' }}</span>
            </span>
            <span class="list-group-item no-border ">
                 
                <span translate="text.createTime">创建时间</span>
                <span class="pull-right ">{{ system.create_time | date:"yyyy-MM-dd HH:mm Z" }}</span>
            </span>
            <span class="list-group-item no-border ">
                 
                <span translate="system.syncState">配置同步状态</span>
                 <span class="pull-right fa "  translate>
                 system.{{ system.needsync ? "hasSync" : "noSync"    }}
                    {{ system.needsync ? "需要同步":"已同步" }}
                 </span>
            </span>
            <span class="list-group-item no-border ">
                 
                <span translate="system.location">位置</span>
                <span class="pull-right ">{{ system.map_address  }}</span>
            </span>
            <span class="list-group-item no-border ">
                
                <span translate="text.desc"> 备注  </span>
                <div class="b-a m-t-sm alert "   style="color: #a0a0a0;height:100px" >  
                    {{system.desc }}  
                </div> 
            </span>
            <span class="list-group-item no-border ">
                <button class="btn btn-sm btn-primary" ng-click="editStation( this, station  )" 
                    translate=" text.changeInfo " >
                    修改信息 
                </button>  
            </span>
        </div>
    </div>
    <div class="col-md-6 col-xs-12">
        <!--    width:500px; -->
        <img ng-src="{{ system.pic_url?( ossRoot + system.pic_url):'img/system_null.png'  }}" class="pag-5 m-t-lg w-full b " style="  height:400px">
       

        <label class=" m-t-xs " translate="system.sysPicture" > 系统图片 </label>
 

            <input   ui-jq="filestyle" type="file" id="file_sys" ng-model-instant 
                     onchange="angular.element(this).scope().setFiles(this)" />
           
            <div style="height:10px;">
                    <progressbar class="progress-xs active m-b-sm m-t-xxs" ng-show="progressVisible" value="progress" type="success"> 
                        {{progress}}%
                    </progressbar>
            </div>

            <div class="text-muted">支持不超过500K的jpeg,png,jpg格式图片!</div>
            <div ng-show="!op.rightfile" class="text-danger "> 文件过大! </div>
       
            <button class="btn btn-info  w-70 " ng-click="uploadFile()"
                ng-disabled=" ! op.rightfile " translate="text.upload"> 上传 </button>
             
    </div>
</div>
