



<div class="panel-body  no-padder  ">
    <div class="row ">
        <div class="form-group m-b-none m-t-xs">
            <label class="col-md-2 text-right m-t-xs  w-sm" translate="system.searchLocation">搜索地理位置</label>
            <div class="col-md-4 m-l m-r ">
                <input class="form-control input-sm" id="suggestId">
                <div id="searchResultPanel" 
                	style="border:1px solid #C0C0C0 ;height:auto; display:none;">
                </div>
            </div>
        </div>
        <div class="form-group m-l  m-b-none  m-t-xs">
            <button class="btn btn-sm btn-info    " ng-click="markLocation()" 
                ng-disabled=" system.latitude   " translate="system.markLocation">标记位置</button>
            <button class="btn btn-sm btn-info    " ng-click="delMarker()"  translate="system.delLocation" 
                ng-disabled=" (system.latitude == 0 || system.latitude == undefined) ">删除位置</button>
        </div>
 

    </div>

    <div id="sysmap" class="m-t-xs" ng-init="initMap()"></div>
</div>
