<div class="panel panel-default b-t-none">
    <div class="panel-heading b-b-none  bg-white-only">

        <form class="form-inline " role="form">
            <div class="form-group   m-l" style="min-width: 250px;" >
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="f_name" ng-change="filterTags(f_name)">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button">搜索</button>
                  </span>
                </div>
            </div>
 

            <div class="form-group m-l m-r-xs  m-r-l "  style="min-width: 200px;" >
                <label class="i-checks    ">
                    <input type="checkbox" ng-model="decimal"><i></i>
                    <span class=" text " style="margin-left: 1px;" >保留</span> 
                </label>

                 <input   class="form-control w-xxs m-l-xs m-r-xs inline " type="number" 
                    ng-disabled="!decimal"
                    ng-model="fractionSize" max=10 min='0'> 
                  <label class=" text "> 位小数</label> 
            </div>


            <div class="checkbox m-l m-r-xs  " style="min-width: 250px;" >
                <label class="i-checks    ">
                    <input type="checkbox" ng-model="auto_r"><i></i>
                    <span class=" text " style="margin-left: 1px;">自动刷新</span>
                </label>
                <progressbar class="progress-striped   m-b-n-xs  w-sm m-l-xs inline" animate="false" value=" progValue / 100  " type="success">
                </progressbar>
            </div>

            <button ng-if="systemModel.mode !=2 " class="btn btn-sm btn-info  w-xs float-right m-l   " ng-click="d_call( system  , 2 , $event )">
                召唤
            </button>
            <button class="btn btn-sm btn-info  w-xs float-right m-l  " ng-click=" getCurrent(  $event ) " style="opacity:1"> 刷新
            </button>
        </form>
    </div>
    <div class="panel-body table-responsive no-padder"> 
        <table class=" table table-striped j_table b-b-none">
            <thead class="flip-content">
                <th class="w">变量</th>
                <th class="w">值</th>
                <th class="w">时间戳</th>
                <th class="w-lg">下置</th>
                <th class="w">描述</th>
                <th>查看历史</th>
            </thead>
            <tbody id="current-table">
                <tr ng-repeat="t in   filtTags " class="hover">
                    <td class="full-td ">
                        {{ :: t.name}}
                    </td>
                    <td id="_val_{{$index}}"> </td>
                    <td id="_time_{{$index}}"> </td>
                    <td>
                        <!-- 输入框应该判断数据类型（布尔、数值、枚举、字符串等），
                         并做对应的输入框/下拉框等 --> 
                        <input class="input input-s " ng-model="v"> 
                        <button class="btn btn-info btn-xs btn-s w-48" ng-click="liveWrite( t, v , $event , this )" token="5000">下置</button>
                        <i class="fa fa-spin  text-info fa-spinner" ng-if="showSpinner"></i>
                        <span id="current_msg_{{t}}" class="w">  {{ msg }}</span>
                    </td>
                    <td>{{:: t.desc}}</td>
                    <td>
                        <button class="btn btn-info btn-xs btn-s w-60" ng-click="goHis(t)">查看历史</button>

                        <!--<a ui-sref="app.s_system_prop.history" class="btn btn-info btn-xs btn-s w-60"
                                 ng-click="goHis(t)">查看历史</a>-->
                        <!-- 
                            <button class="btn btn-info btn-xs" ng-show="t.save_log" ng-click="goHis(t)">
                                查看历史</button>
                        -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
