
<div class="modal-header ">
    <span  translate="tag.{{:: isAdd?'addTag':'editTag'  }}" >添加变量</span>
     
</div>


<div class="modal-body  "  load-mask >
    <form name="form_tag" class=" form-validation form-horizontal   ">


        <!-- 设备 -->
        <div ng-if="isManageMode ">
            <select ng-options=" o as o.name  for  o in sysDevices   " 
                tl-input name="dev " ng-model=" op.dev " 
                label="nav.device" ng-change=" loadPoint( op.dev ) " required >

                <!-- <option value="">--请选择设备--</option> -->
            </select> 

           <!--  connect 点 -->
            <select ui-jq="chosen" tl-input name=" point" label="tag.connect" ng-model="op.point" 
                    ui-refresh="points" ng-change=" copyName() " 
                    id="7fa574fa44awe" 
                    k="name" v="id&name" required >

                <option value="" translate="tag.select">--请选择点--</option>  
            </select>
        </div>

        <!-- 名称 -->
        <input tl-input name="name " ng-model="T.name" ng-disabled=" !isAdd" label="text.name" required>
       
       
        <select tl-input name=" type" ng-model="T.type" 
            ng-init=" T.type = T.type || 'Analog' "
            ng-options="  k  for k in $sys.tagType " 
            label="text.type" required ng-disabled="!isAdd"> 
        </select>

        <ng-include ng-if=" L && profiles.length  " src="  'app/model_system/sysmodel_attr_tag_log.html'  "></ng-include>
 

        <textarea tl-input name=" desc " ng-model="T.desc" label="备注"> </textarea>
    </form> 

    <!--     
    <form name="form_log" class=" form-validation form-horizontal   ">
        <ng-include ng-if=" L && profiles.length " src="  'app/model_system/sysmodel_attr_tag_log.html'  "></ng-include>
    </form>
 -->

</div>


<ng-include src=" 'app/debris/_modal_footer.html' "></ng-include>