
<div class="modal-header ">
    <span ng-if="isAdd">添加变量</span>
    <span ng-if="!isAdd">编辑变量</span>
</div>


<div class="modal-body  "  load-mask >
    <form name="form_tag" class=" form-validation form-horizontal   ">

        <div ng-if="isManageMode ">
            <select ng-options=" o as o.name  for  o in sysDevices   " 
                tl-input name="dev " ng-model=" op.dev " 
                label="设备" ng-change=" loadPoint( op.dev ) " required >

                <option value="">--请选择设备--</option>
            </select>
            <!--jjw 注释-->
            <!--&lt;!&ndash;@if append &ndash;&gt;-->
            <!--op.point" ={{op.point}}-->
            <!--&lt;!&ndash;@endif &ndash;&gt;-->
            <select ui-jq="chosen" tl-input name=" point" label="connect 点" ng-model="op.point" 
                    ui-refresh="points" ng-change=" copyName() " 
                    id="7fa574fa44awe" 
                    k="name" v="id&name" required >

                <option value="">--请选择点--</option>
            </select>
        </div>
        <!-- tag -->
        <input tl-input name="name " ng-model="T.name" ng-disabled=" !isAdd" label="text.name" required>
       
        <select tl-input name=" type" ng-model="T.type" 
            ng-init=" T.type = T.type || 'Analog' "
            ng-options="  k  for k in $sys.tagType " 
            label="text.type" required ng-disabled="!isAdd"> 
        </select>

        <ng-include ng-if=" L && profiles.length  " src="  'app/model_system/sysmodel_attr_tag_log.html'  "></ng-include>
 

        <textarea tl-input name=" desc " ng-model="T.desc" label="备注"> </textarea>
    </form> 

    <!--     
    <form name="form_log" class=" form-validation form-horizontal   ">
        <ng-include ng-if=" L && profiles.length " src="  'app/model_system/sysmodel_attr_tag_log.html'  "></ng-include>
    </form>
 -->

</div>


<ng-include src=" 'app/debris/_modal_footer.html' "></ng-include>