




<input tl-input name="name " ng-if=" !isAdd " disabled ng-model="L.name" label="text.name">



<!-- 保存日志 -->
<select tl-input name="log_type " ng-init="L.log_type = L.save_log? L.log_type : undefined " 
		ng-options='  k as v for (k,v) in $$lang.tagTrans.log_type' 
		ng-model="L.log_type"
        label="tag.save_log" 
		ng-change=" L.save_log =  L.log_type ? 1: 0 " >
    <option value="" translate="tag.no_save_log"> 不保存日志</option>
</select>


<!-- 日志记录间隔 -->
<div ng-if=" L.save_log && L.log_type=='RAW'">
    <select ng-options="  parse(v) as k  for (v,k) in  $$lang.tagTrans.log_period" 
    tl-input name=" log_cycle" 
    ng-model="L.log_cycle"  
    
    label="tag.log_cycle"> 

    </select>
</div> 



<!--jjw 添加div控制隐藏或者显示-->
<div ng-if=" T.type =='Analog' ">

    <input ng-model="L.deviation" label="text.offset " type="number" tl-input name=" deviation" required/>

    <input ng-model="L.scale" label="tag.scale" type="number" tl-input name=" scale" required/>

</div>

<input tl-input name="unit " ng-model="L.unit" label="text.unit">
 
<!--@if append-->
L = {{L}}
<!--@endif-->
