 <div class="panel-heading  bg-white-only "   >
        <!--jjw 添加div-->
        <div class="form-group  m-b-none m-l-xs">
            <span style="margin-right: 30px">  配置项 </span>
            <select ng-model="op.profile_id " class="input input-sm w form-control inline " 
            		ng-options="p.uuid as p.name for p in profiles  "
            		ng-change="loadPageData( 1 )">
            </select>
        </div>
    </div>
    <!--jjw b-b-none-->
    <div class="panel-body table-responsive   no-padder  " load-mask>
        <!--jjw j_table-->
        <table class="  table table-hover table-striped j_table b-t-none">
            <thead class="flip-content">
                <tr class="background ">
                    <th>ID</th>
                    <th translate="text.name"> 名称 </th>
                    <th> 触发类型</th>
                    <th translate="text.action"> 行为 </th>
                    <th> 触发源 </th>
                    <th> 条件 </th>
                    <th width="20%"  translate="text.desc"> 备注 </th>
                    <th   width="1%" translate="text.edit" > 编辑 </th>
                    <th   width="1%"  translate="text.del"> 删除 </th>

                    <!-- ng-if="isModelState" -->

                </tr>
            </thead>
            <tbody  ng-init=" _config = $sys.trigger ">
                <tr ng-repeat="    t in page.data  ">
                    <td> {{t.id}}</td>
                    <td> {{t.name}}</td>
                    <td translate > {{   "triggerConf.type." + t.type }}</td>

                    <td> {{  $sys.trigger.action[t.action] }}           </td>

                    <td > {{ $sys.trigger.origin[t.origin]  }}</td>

                    <td ng-style="t.lose_tag">
                        <i class="fa fa-android  text-info-dker " 
                           popover-trigger="mouseenter"
                           popover="{{ conditions( t.conditions ) }}" 
                           popover-placement="top" 

                         popover-title="触发条件"></i>
                    </td>
                    <td> {{t.desc }} </td>


                    <!-- ng-if="isModelState"
                     -->
                    <td   >
                        <a class="text-info m-r-xs" ng-click="c_u_Trigger( t , $index ) " translate="text.edit" >编辑</a>
                    </td>

                    <td  >
                        <a class="text-info m-r-xs"  ng-click="deleteTrigger(    t  ,$index  )" translate="text.del">移除</a>
                    </td>


                </tr>
            </tbody>
        </table>
    </div>
    <!--jjw b-b b-l b-r  ng-if="isModelState" -->
    <div class="panel-footer  text-center  ">
        <button class="btn btn-primary btn-sm   pull-left "  ng-click=" c_u_Trigger( ) ">
            添加触发器
        </button>
        <tl-pagger></tl-pagger>
    </div>
    