   <div class="panel-heading  bg-white-only  w-full    "  ng-if="isModelState"  >
       
        <div class="form-group   m-l-xs m-b-none   "  >
            <span style="margin-right: 30px" translate="profile.profile"> 配置项 </span>
            
            <select ng-model="op.profile_id" 
                class=" input input-sm w form-control inline" 
                ng-options="   p.uuid as p.name for p in profiles  " 
                ng-change="loadSysTag( op.profile_id  )" ></select>            
        </div>  
    </div>
  

    <div load-mask class="panel-body    table-responsive no-padder   b-b-none">
        <!--jjw j_table-->
        <table class=" table   table-hover table-striped   b-t-none">
            <thead class="flip-content">
                <tr class="background ">
                    <th translate="tag.name" > 变量名称 </th>
                    <th translate="nav.device" > 设备 </th>
                    <th translate="text.type" > 类型 </th>
                    <th translate="tag.scale" > 缩放 </th>
                    <th translate="text.offset" > 偏差 </th>
                    <th translate="text.unit" > 单位 </th>

                    <th translate="tag.save_log" > 保存日志 </th>
                    <th translate="tag.logType" > 日志类型 </th>
                    <th translate="tag.log_cycle"> 日志间隔(秒) </th>
                    <th width="15%" translate="text.desc" > 备注 </th>

                    <th ng-if="isModelState" width="1%"  translate="text.edit" > 编辑 </th>
                    <th ng-if="isModelState" width="1%"  translate="system.config" >  配置 </th>
                    <th ng-if="isModelState" width="1%"  translate="text.del" >  删除</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="  tag  in systags  "  >
                    <td> {{tag.name}}</td>
                    <!-- 
                        getDevname (); 1:看是否有连接; 若没有 则 type 设置为null ; 2:设置是否真的连接了设备; 3: 是否真的 连接了模版点;
                    -->
                   
                    <td> {{    getDevName(tag , this )  }} </td>
                    <td> {{ tag.type }}</td>

                    <td> <span ng-show=" tag.type == 'Analog' "> {{tag.scale}} </span> </td>
                    <td> <span ng-show=" tag.type == 'Analog' "> {{tag.deviation}} </span></td>
                    <td> {{tag.unit}}</td>
                    <td>
                        <i ng-if="tag.save_log" class="glyphicon glyphicon-ok text-success"></i>
                    </td>
                    <td>
                        <span ng-show="tag.save_log"   > 
                            {{   instant ( 'tagTrans.log_type.' + tag.log_type  )  }} 
                         </span>
                    </td>
                    <td>
                        <span ng-show="tag.save_log">
                        {{ tag.log_type=="RAW" ? tag.log_cycle : undefined }} 
                     </span>
                    </td>
                    <td> {{ tag.desc||"" }} </td>
                    <td ng-if="isModelState">
                        <a class="text-info m-r-xs" ng-click="updateTag(  $index  , tag , this  )"
                            translate="text.edit">编辑</a>
                    </td>
                     <td ng-if="isModelState">
                        <a class="text-info m-r-xs" ng-click="editLogPart(  $index  , tag   )" 
                            translate="system.config"  > 配置</a>
                     </td>
                     <td ng-if="isModelState">
                        <a class="text-info m-r-xs"  
                            ng-click="deleteTag(  $index  , tag )" translate="text.del" >移除</a>
                     </td>

                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-footer   b-b b-l b-r">
         
        <button class="btn btn-primary btn-sm w-70  " ng-if="isModelState" 
            ng-click=" addTag('add') "  translate="tag.add" >
            添加变量
        </button>
    </div>