<form name='form' class="form-horizontal form-validation ">

    <!-- 用户名 -->
    <input  tl-input name=" name "   label="user.name" ng-model=" user.username  " ng-model-options=" { updateOn: 'blur' } " required ng-change="ccField('username' , user.username)">

    <!-- 昵称 -->
    <input  tl-input name="nickname "  label="user.nickName" ng-model=" user.nickname   " ng-change="ccField('nickname' , user.nickname)">
    <!-- ============================================ -->
   
    <!-- 是否更改密码        -->
    <div class="form-group "  ng-if="!isAdd"   >  
        <label class="col-sm-3   control-label  ">
            <span translate="user.chPass">更改密码</span>
        </label>
        <div class=" col-sm-9">
            <label class="i-checks m-t-xs">
                <input type="checkbox" ng-model="op.ccpass">
                <i></i>
            </label>
        </div>
    </div>

    <!-- 更改密码 密码 -->
    <div ng-if="op.ccpass" >
        <input tl-input name=" password " label="user.newPass"  
        ng-minlength="6" ng-maxlength="20" 
        ng-change="ccField('password' , user.password)" ng-model=" user.password " required>
    </div>
    <!-- ============================================ -->

    <!-- 密码 -->
    <div   ng-if="isAdd">

        <!-- placeholder=" {{  ::  instant( 'inputValid.minlength' , { value: 6} )  }}  "  -->
        <input   tl-input type="password" name="password" label = 'user.password'
           
            ng-maxlength="20" ng-minlength="6"  required
            ng-model=" user.password " 
            ></input>

        <!-- 确认密码 -->
        <input   tl-input type="password"  name="_password"  label="user.confirmPass" 
                ng-model="op.confirm_password"  ui-validate=" '$value==user.password' "
                ui-validate-watch=" 'user.password' "
            ></input>
        
    </div>

 




    <!-- 手机号码 -->
    <input tl-input name="phoneno" label="text.phoneNo" ng-model="user.mobile_phone" ng-pattern="/^1\d{10}$/" ng-change="ccField('mobile_phone' , user.mobile_phone)">
    <!-- 电子信箱 -->
    <input tl-input name=" email " label="text.email" ng-model="user.email" type="email" ng-disabled=" user.is_super_user" ng-change="ccField('email' , user.email)">
    <!-- 地址 -->
    <input tl-input name="address " label="text.address" ng-model="user.address" ng-change="ccField('address' , user.address)">
    <!-- 备注 -->
    <textarea tl-input name=" desc " label="text.desc" ng-maxlength='100' ng-model="user.desc" ng-change="ccField('desc' , user.desc)" />
</form> 