<div class="bg-light lter b-b wrapper-md ng-scope">
    <h2 class="m-n font-thin h4" translate="account.bindWeChat"> 微信绑定</h2>
</div>
<div load-mask></div>
<div class="panel panel-body " ng-if='op.step == -1 '>
    <div class="col-md-8 col-md-offset-3 col-xs-12">
        <h4 class="m-t-xxl" translate="account.weText1">  以下是您的微信服务号信息</h4>
        <div class="hbox">
            <div class="col w-sm" translate="account.weChatNo">微信号1</div>
            <div class=" col text-muted">
                {{:: wei.wechat_id || '......'}}
            </div>
        </div>
        <div class="hbox">
            <div class="col w-sm" translate="account.weChatServerUrl">URL (服务器地址)</div>
            <div class=" col text-muted   ">
                {{:: wei.server_url || '......'}}
            </div>
        </div>
        <div class=" text-muted">
            <span translate="account.weText2"> 如果您想取消绑定, 或者更改微信服务号账号信息, 您可以</span>
            <a class="text-info" ng-click="unBindServer()" translate="account.cancelServerNo"> 注销服务号 </a>
        </div>
    </div>
</div>
<div class="wrapper-md" ng-if="op.step >= 0">
    <div class="panel panel-default">
        <div class="panel-heading text-center   " style="min-height:50px;">
            <div class="row">
                <ul ng-if="op.step !== 0 " id="breadcrumb" class="m-b-none">
                    <li class=" {{ op.step ==1 ? '':'resolve' }} ">
                        <a>
                            <span class=" ">1</span>
                            <i ng-if="op.step> 1" class="fa fa-check-circle text-success"></i>
                            <span translate="account.validWeChatNo"> 验证微信帐号 </span>
                        </a>
                    </li>
                    <li class=" {{ op.step ==2?  '' :'resolve' }} ">
                        <a>
                            <span class=" ">2 </span>
                            <i ng-if="op.step> 2" class="fa fa-check-circle text-success"></i>
                            <span translate="account.setBasicInfo"> 基本信息设置 </span>
                        </a>
                    </li>
                    <li class=" {{ op.step ==3 ?  '' :'resolve' }} ">
                        <a>
                            <span class=" "> 3 </span>
                            <span translate="text.ok"> 完成 </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel-body   " load-mask>
            <div class="row">
                <div ng-if="op.step === 0 " class="col-md-6 col-md-offset-3  col-xs-12">
                    <h4 translate="account.weText3">欢迎使用ThingLinx企业微信号服务号功能 </h4>
                    <p translate="account.weText4">
                        开通此项服务您可以快速获得一个微信后端服务器,并与您微信号绑定,让您的用户能够访问此微信服务号.
                    </p>
                    <h5 translate="account.weText5">现以下功能:</h5>
                    <ul>
                        <li translate="account.weText6"> 基于区域的系统查看更能</li>
                        <li translate="account.weText7">系统产生报警的推送及查看功能</li>
                        <li translate="account.weText8">系统搜索功能</li>
                    </ul>
                    <div class="text-center">
                        <button class="btn btn-success btn-sm w-xs" ng-click="op.step=1" translate="text.start">开始</button>
                    </div>
                </div>
                <div ng-if="op.step === 1 " class="col-md-6 col-md-offset-3  col-xs-12">
                    <form role="form" name="form1" class="form-validation">
                        <div class="form-group input-group">
                            <label translate="account.weText11">请输入您的企业微信号</label>
                            <input id='wei_no' class="form-control " style="width:80%" ng-model="wei.wechat_id " required="true">
                            <span class="input-group-btn  ">  
<button   class="btn btn-default" type="button" 
ng-click="createUrl()"  translate="account.weBot1"  >生成URL</button>                         
</span>
                        </div>
                        <div class="form-group input-group">
                            <label translate="account.weChatServerUrl">URL(服务器地址)</label>
                            <input id='weichat_server_url' class="form-control " style="width:80%" ng-model='wei.server_url'>
                            <span class="input-group-btn  ">   
<button class="btn btn-default" type="button"
id='copy_url'
ng-init="enbaleCopy()" 
data-clipboard-target='#weichat_server_url' 
translate="account.weBot2" 
>复制连接</button>  
<!-- 
translate="account.weBot2" 
<a href="" class=" fa  fa-clipboard"></a> -->
</span>
                        </div>
                        <p class="m-t-n text-muted" translate="account.weText12">请先复制以上地址到微信公众平台完成验证,再返回此页面继续操作.</p>
                        <div class=" alert alert-danger" ng-if='op.verifyError' translate="account.weText13">
                            该账号微信服务器地址未通过微信验证!
                        </div>
                        <div class=" alert alert-success" ng-if='op.verifySuccess' translate="account.weText14">
                            验证成功!
                        </div>
                        <div class="text-center">
                            <button class="btn btn-info  btn-sm" ng-disabled=" !wei.server_url " ng-click="verifyUrl()" translate="account.weBot3"> 查询验证状态</button>
                        </div>
                    </form>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                </div>
                <div ng-if="op.step === 2 " class="col-md-9 col-md-offset-2  col-xs-12">
                    <!--   
                        <form class="form-horizontal" name="step2">
                        <div class="col-md-8 col-xs-12 m-t-lg">
                        <div class="form-group">
                        <label class=" col-sm-3 control-label " style="text-align:left"> &nbsp;图片预览</label>
                        <div class=" col-sm-8">

                        <div id='weichat_logo_preview' style="width:300px ; height:70px; border-style:dashed;border-width:2px;">

                        <button onclick="file.click()" class="pos-abt no-border no-bg " style="margin-top: 20px; margin-left:100px; color:#19a9d5">
                        点击上传
                        </button>
                        </div>

                        <button class="no-bg no-border   " style="color:#19a9d5;" 
                        onclick="file.click(); return false;">更换</button>
                        <p class="text-muted">图片尺寸550*70px </p>

                        <input type="file" name='file' 
                        onchange=" angular.element(this).scope().setFiles( this )"
                        style="margin-top:-80px; opacity:0; margin-left:100px;" accept="image/*"></input>
                        </div>
                        </div>
                        <br/>
                        <p class=" text-muted m-t-lg "> 以下企业联系方式蒋展示于您的公众号菜单,以便用户与您联系</p>

                        <input tl-input  name=" homepage " label="官网地址"  
                        ng-model="wei.homepage" required  left 
                        type="url" 
                        ></input>

                        <input tl-input  name="appid " label="微信AppId"  ng-model="wei.appid" required left ></input>
                        <input tl-input name=" secret " label="微信AppSecret"  ng-model="wei.appsecret" required left></input>
                        <input tl-input name=" tempid" label="消息模板ID"  ng-model="wei.templateid" required left></input>




                        </div>
                        <div class="col-md-4 col-xs-12 m-t-n">
                        <img src="img/weichat_logo.png">
                        </div>
                        <div class="col-md-8 col-xs-12 m-t-lg">
                        <p class="text-muted"> 您可以对现有公众号菜单进行命名</p>
                        <div class="col-md-11 col-xs-12">
                        <div class="form-group  ">
                        <label>区域查询： 查看区域状态以及根据区域查看系统 </label>
                        <input class="form-control "  ng-model="menu[0]" required >
                        </span>
                        </div>
                        <div class="form-group  ">
                        <label> 报警查询：查看系统产生的报警 </label>
                        <input class="form-control " ng-model="menu[1]" required >
                        </span>
                        </div>
                        <div class="form-group  ">
                        <label> 系统信息查询：扫码或根据条件搜索系统并查看状态 </label>
                        <input class="form-control " ng-model="menu[2]" required >
                        </span>
                        </div>




                        </div>
                        <div class="text-center">
                        <button id='222' class="btn btn-sm btn-default w-xs " ng-click="setp2Commit()">下一步</button>
                        </div>
                        </div>
                        <div class="col-md-4 col-xs-12 m-g-n">
                        <img src="img/weichat_menu.png">
                        </div>
                        </form>
                    -->
                    <form class="form-horizontal" name="step2">
                        <div class="col-md-7 col-xs-12 m-t-lg">
                            <div class="form-group">
                                <label class=" col-sm-3 control-label " style="text-align:left"
                                    translate="account.weBot4a" > 
                                 图片预览</label>
                                <div class=" col-sm-8">
                                    <div id='weichat_logo_preview' style="width:300px ; height:70px; border-style:dashed;border-width:2px;">
                                       
                                        <button onclick="file.click()" class="pos-abt no-border no-bg " 
                                            style="margin-top: 20px; margin-left:100px; color:#19a9d5"
                                              translate="account.weBot4"  
                                            >
                                            添加图片  
                                        </button>
                                    </div>
                                    <button class="no-bg no-border   " style="color:#19a9d5;" 
                                        onclick="file.click(); return false;" 
                                        translate="account.weBot5"
                                        >更换</button>
                                    <p class="text-muted" translate="account.weBot6">图片尺寸550*70px </p>

                                    <input type="file" name='file' onchange=" angular.element(this).scope().setFiles( this )" style="margin-top:-80px; opacity:0; margin-left:100px;" accept="image/*"></input>
                                </div>
                            </div>
                            <br/>
                            <p class=" m-t-lg m-l-n "  translate="account.weBot7"> 以下企业联系方式将展示于您的公众号菜单,以便用户与您联系</p>
                            <div class="form-group">
                                <label  translate="account.weBot8" > 官网地址 </label>
                                     <span class="text-xss text-muted" translate="account.weBot10" >(将展示在您的公共号菜单,  以便用户与您联系) 
                                     </span> 

                                <input valid-input type="url" class="form-control " ng-model="wei.homepage" required>
                            </div>
                            <div class="form-group">
                                <label translate="account.weBot11"  > 微信AppId  </label>
                                    <a  translate="account.weBot9"  class="text-xss text-info btn-link" href="https://www.zybuluo.com/thinglinx/note/322079#获取微信appid" target="_"> 如何获取?</a>
                               
                                <input valid-input class="form-control " ng-model="wei.appid" required>
                            </div>
                            <div class="form-group">
                                <label translate="account.weBot12" > 微信AppSecret  </label>
                                    <a  translate="account.weBot9"  class="text-xss text-info btn-link" href="https://www.zybuluo.com/thinglinx/note/322079#获取微信appsecret" target="_"> 如何获取?</a>
                               
                                <input valid-input class="form-control " ng-model="wei.appsecret" required>
                            </div>
                            <div class="form-group">
                                <label translate="account.weBot13" > 消息模板ID</label>
                                    <span  translate="account.weBot13a"  class="text-xss text-muted">(系统产生的报警会按消息模板的样式通知给您) </span>
                                    <a  translate="account.weBot9"  class="text-xss text-info btn-link" href="https://www.zybuluo.com/thinglinx/note/322079#获取消息模板id" target="_"> 如何获取?</a>
                                
                                <input valid-input class="form-control " ng-model="wei.templateid" required>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12 m-t-n">
                            <img src="img/weichat_logo.png">
                        </div>
                        <div class="col-md-7 col-xs-12 m-t-lg">
                            <p class="m-l-n " translate="account.weBot14" > 您可以对现有公众号菜单进行命名</p> 
                            <div class="form-group  ">
                                <label translate="account.weBot15" >区域查询： 查看区域状态以及根据区域查看系统 </label>
                                <input valid-input class="form-control " ng-model="menu[0]" required>
                            </div>
                            <div class="form-group  ">
                                <label translate="account.weBot16" > 报警查询：查看系统产生的报警 </label>
                                <input valid-input class="form-control " ng-model="menu[1]" required>
                            </div>
                            <div class="form-group  ">
                                <label translate="account.weBot16a" > 系统信息查询：扫码或根据条件搜索系统并查看状态 </label>
                                <input valid-input class="form-control " ng-model="menu[2]" required>
                            </div>
                            <!--   </div> -->
                            <div class="text-center">
                                <button id='222' class="btn btn-sm btn-default w-xs " ng-click="setp2Commit()" 
                                    translate="text.nextStep" 
                                    >下一步</button>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12 m-g-n">
                            <img src="img/weichat_menu.png">
                        </div>
                    </form>
                </div>
                <div ng-if="op.step === 3 " class="col-md-6 col-md-offset-3  col-xs-12">
                    <h4 translate="account.weBot17" >恭喜！ 您的微信服务号设置已经完成, 蒋于xx 分钟内生效. </h4>
                    <h5 translate="account.weBot18" >您现在可以:</h5>
                    <ul>
                        <li translate="account.weBot19" > 查看您的微信服务号帐号信息</li>
                        <li translate="account.weBot20" >更改帐号信息 或 取消绑定 </li>
                    </ul>
                    <div class=" ">
                        <button class="btn btn-success btn-sm  " ng-click=" op.step = -1 "
                            translate="account.weBot21" 
                            >前往</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--@if append -->
op = {{op}} wei = {{wei}}
<br/> menu = {{menu}}
<!--@endif -->
